
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/_LayoutAdmin.cshtml";
}
<style>

    img{
        width: 1300px;
        height: 700px;
    }
</style>

<body>
    <img src="~/PIC/4K/4k15.jpg" alt="Alternate Text" />
</body>